.container{
    display: flex;
}


.liason{
    font-family: monospace;
    display: block;
    margin: 10em 5em;
    border: solid black 2px;
    width: 340px;
    height: 550px;
    border-radius: 10px;

    text-align: center;
    padding: 10px 20px;
    background-color: hsl(0, 0%, 82%);
}

.liason img{
    border-radius: 10px;
    width: 300px;
}


.liason h1{
    font-size: 35px;
}

.liason #workWhere{
    font-style: italic;
}

.liason ul{
    text-align: justify;
    font-size: 18px;
    padding: 10px 20px;

    list-style-type: disc;
}

.hardware{
    font-family: monospace;
    display: block;
    margin: 10em 5em;
    border: solid black 2px;
    width: 340px;
    height: 550px;
    border-radius: 10px;

    text-align: center;
    padding: 10px 20px;
    background-color: hsl(0, 0%, 82%);

}

.hardware img{
    width: 300px;

    border-radius: 10px;
}

.hardware ul{
    list-style-type: disc;
    text-align: justify;
    font-size: 18px;
    padding: 10px 20px;
}

.experience3{
    font-family: monospace;
    display: block;
    margin: 10em 5em;
    border: solid black 2px;
    width: 340px;
    height: 550px;
    border-radius: 10px;

    text-align: center;
    padding: 10px 20px;
    background-color: hsl(0, 0%, 82%);
}


.experience3 h1{
    
}

