body{
    background-color: hsla(0, 2%, 87%, 0.850);
    font-family: verdana;
}


/* navbar */
.navbar{
    display: flex;
    box-shadow: 0 2px 10px gray;
    border-radius: 20px;
    width: 355px;
    margin-top: 30px;
    margin-left: 30px;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar a{
    font-family: monospace;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;

    display: block;
    transition: transform .25s;
    
}

.navbar a:hover{
    transform: scale(1.2);
}

.navbar a.active{
    font-weight: 300;
    color: gray;
}


/* Me */

#index-img{
    margin-top: 30px;
    margin: auto;

    display: block;
    border-radius: 50px;
    box-shadow: 0 2px 10px black;
}

#indexH1{
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
    font-family: monospace;
    font-size: 3rem;

    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes glow{
     from {
        text-shadow: 
            0 0 20px hsl(60, 100%, 63%);
    }
    to {
        text-shadow:
            0 0 20px hsl(88, 48%, 51%);
    }
}

.intro p{
    text-align: center;
    margin-top: 5rem;
    padding-bottom: 2rem;

    font-family: monospace;
    font-size: 1.5em;

    position: relative;
    border-bottom: none;  

}

.intro p::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;     
    height: 1px;
    background: rgba(15, 23, 42, 0.30); 
}

.techSkills{
    font-family: monospace;
}

.techSkills h2{
    font-size: 30px;

    display: block;
    text-align: center;
}


.techSkills h4{
    margin-left: 17em;
    font-size: 22px;
}

.techSkills p{
    font-size: 18px;
    margin-left: 28em;
}












